body {
	margin: 2%;
	padding: 5px;
}

header {
	font-size: large;
	text-align: center;
	font-weight: bold
}

form {
	margin: 0 auto;
	border: 1px;
	border-radius: 5px;
	padding: 1rem;
	width: 85%;
}

legend {
	text-align: center;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

input {
	font-size: 20px;
	padding: 2px 5px;
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 1rem;
}

button {
	background-color: rgb(209, 189, 164);
	padding: 10px;
	border-radius: 10px;
}

button:hover {
	background-color: grey;
	color: white;
}

@media screen and (max-width: 510px) {
	body {
		margin: 2%;
	} 
	
	#button {
		width: 98%;
	}
	
	.birthday {
		width: 31.29%
	}
}